application: <%= name %>
version: duby
runtime: java
public_root: /public

resource_files:
  - exclude: /build/**

handlers:
  - url: /info/properties
    servlet: controllers.InfoPropertiesController
    name: info_properties