# Session Configuration
#
# must be unique per application
session.key=_<%= name %>_session
# be wary of changing this on a live site, it will invalidate your session cookies
session.secret=<%= ActiveSupport::SecureRandom.hex(64) %>
