<!DOCTYPE html>
<head>
  <meta charset=<%= @page_charset %> /> 
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'source' %>
</head>
<body>
  <div id="content"><%= @page_content %></div>
</body>
</html>
