<!DOCTYPE html>
<head>
  <meta charset="UTF-8" /> 
  <title>Contacts: <%= @params.action || 'index' %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= @flash_notice %></p>

<%= @page_content %>

</body>
</html>
